.Display{
    display: grid;
    color: brown;
    justify-content: center;

}

.App {
    color: brown;
    margin: 5px;
    text-align: center;

}

.home {
    margin: 35px;
    padding: 5px;
    color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    left: 37%;
    gap: 1px;
}