.starWars {
    padding-left: 25em;
    display: flex;
}

button {
    padding: 0.9rem 0.5rem 1rem 0.75rem;
    border: solid 1px;
    border-radius: 3rem;
    background-color: brown;
    color: black;
    font-size: 1rem;
}

input {
    padding: 5px;
    border: solid 1px;
    border-radius: 5rem;
    color: rgb(28, 4, 52);
    font-size: 1rem;
}

.save {
    margin-top: 1em;
    border-radius: 3rem;
}

.title {
    text-align: center;
    color: brown;
    margin: 4px;
    padding: 0px;
    font-size: 1rem;
}
